canvas {
  background: #000;
}

.file {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  padding: 15px 30px;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #fff;
  display: block;
  cursor: pointer;
  transition: .3s;
  border: 2px solid #fff;
}

.file:hover {
  color: #000;
  background: #fff;
}

.file input {
  display: none;
}